.container{ display:contents ;}
#une{height: 40%;display: flex;margin-top: 0%;margin-bottom: 0%; border-bottom:solid rgba(0, 0, 0, 0.097) 2px;initial: letter align 1px;}
#deux{margin-bottom: 0%;}
#trois{display: flex;background-color: #ffffff;margin-left: 30%;}
#one{justify-items: end;border: spacing 0;margin-top: 2%;margin-left: 3%;width: 50%;}
#two{width: 50%;margin-top: 0%;}
body{margin: 0%; background-repeat: no-repeat;background-attachment: fixed;}
#logo{width: 180px;margin-left: 3%;height: 80px;margin-right: 20%;font-size: 25px;}
#barre-haute{margin-top: 8px;margin-left: 600px;padding-inline: 5px;font-size: 25px;margin-right: 2px;display: flex;}
a{text-decoration: none;color:#ff6f00;font-size: x-large;margin-bottom: 2px;padding:10px 20px}
input{ padding:10px 40px; background:#ffffffbd; width:400px; border-radius:25px;border: none;margin-bottom: 2%; font-size: 20px;border:solid rgba(47, 41, 41, 0.423);}
#inder1-1{display: contents;}
#bt-start{ width: 200px;background-color: #ff6f00;color: white;font-size: 20px;margin-left: 50%;}
select{padding:10px 40px; background:#ffffffbd; width:490px; border-radius:25px;border: none;margin-bottom: 2%;font-size: 20px;color: gray;border:solid rgba(47, 41, 41, 0.423);}
#back{margin-top: 10%;width: 800px;}
p{font-size: medium;}
h5{margin-top:13px ;font-weight: normal;font-size:20px;margin-bottom: 20px;}
H2{margin-left: 40%;color: #000000;}
#phrase {font-size: large;margin-left: 36%;color: #044349;}